@import url('./reset.css');
@import url('./reset.css');
@import url('izitoast/dist/css/iziToast.css');

.form-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1136px;
}

.form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.form-button:hover {
  background: #6c8cff;
}

.form-input {
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:active {
  border: 1px solid #4e75ff;
}

.form-gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.image-size {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.image {
  height: 152px;
  width: 360px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.info {
  height: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 4px 20px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

.likes {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 34px;
  height: 40px;
  margin-right: 28px;
}

.vievs {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 48px;
  height: 40px;
  margin-right: 27px;
}

.comments {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 72px;
  height: 40px;
  margin-right: 32px;
}

.dowloads {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 74px;
  height: 40px;
}

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #cecece;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.load-wrap {
  display: flex;
  justify-content: center;
  margin: 36px 0;
}

.load-button {
  border-radius: 8px;
  padding: 8px 16px;

  height: 40px;
  border: none;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.load-button:hover {
  background: #6c8cff;
}

.hidden {
  display: none;
}
